.tags
{
    display: flex;
    justify-content:center;
}
*,html,body{
    scroll-behavior:smooth;
    position: relative;
}

.top
{
    position: absolute;
    right: 10%;
    bottom: 20%;
}
body{
    margin: 0px;
    padding: 0%;
    overflow-x: hidden;    overflow-y: auto;
}
.navbar{
    
    width: 100vw;
    z-index: 1001;
    background-color: rgb(181, 142, 217);
}
.navbar h2
{
    padding: 0px 20px;
}
.navbar h2:hover
{
    cursor: pointer;
    color:rgb(5, 36, 232);
}
.ham
{
    display: none;
}
.ham img:hover{ cursor: pointer;}

.tags a,.ham a{
    text-decoration: none;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    color: black;
}
.tags a:hover,.ham a:hover{
    color: aqua; 
}
.ham img{
    position: absolute;
    right: 5%;
    top: 2%;
    height: 40px;
    width: 40px;
}
.second
{
    display: flex;
    align-items: center;
}
.details,.image
{
    flex: 0.5;
}
.details p{
    line-height: 25px;
    font-size: large;
    z-index: 1;
}
.details {
    max-width: 500px;
    margin-inline: auto;
}
.resume
{
   
    background-color: rgb(164, 86, 203) ;
    border-radius: 5px;
    padding: 10px;
    color: rgb(6, 3, 2);
    text-decoration:underline;
}
button:hover
{
    cursor: pointer;
    background-color: aqua;
}
.second
{
    height: 100vh;
    width: 100vw;
}
.third
{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(111, 176, 225);
}
.skills p{
    padding: 10px;
    font-size: x-large;
}
.skills,.set{
    flex: 0.5;
    padding: 0px 20px;
    margin-top:8% ;
}
.set1,.set2{
    border-bottom: 4px solid black;
}
.set p{
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 20px;
}
.fourth
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.fourth::before
{
    content: "";
    position: absolute;  
    background-image: url(https://img.freepik.com/free-vector/blue-futuristic-waves-background-with-computer-code-technology_53876-119584.jpg);
    background-size: cover;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}
.fourth h1{
    color: rgb(239, 232, 232);
}
.pro1,.pro2,.pro3
{
    border: 5px solid rgb(249, 231, 231);
    text-align: center;
    overflow: hidden;
    z-index: 100;
    height: max-content;
    margin: 20px 0px;
}
.fourth img 
{
    height: 250px;
    width: 400px;
}
.last
{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(97, 185, 217);
}
.contact
{
    height: 200px;
}
.contact a{
    text-decoration: none;
}
.collab
{
    
    font-size: 40px;
    text-align: center;
}

.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.images2 
{
    display: flex;
    padding: 0 20px;
}
.images2 img{
    height: 20px;
    padding: 0% 5px;
    cursor:pointer;
}
@media screen and  (max-width:800px) {
    .third{
        flex-direction: column;
    }
    .second{
        display: block;
    }
    .details {
        max-width: 250px;
        margin-inline: auto;
        margin-top: 23% ;
    }

    .image img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.4;
    }
}
@media screen and (max-width:500px) {
     .tags{
        display: none;
     }
     .ham {
        display:block;
       background-color: rgb(181, 142, 217);
        min-height: 50px;
     }
     .ele{
        display: none;
     }
     .ham:hover .ele
     {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        position: absolute;
        top:5%;
        right:0%;
       background-color: rgb(181, 142, 217);
        border-bottom-right-radius:20px;
        border-bottom-left-radius:20px;
     }
    
}
